@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --bg: #0b0b0b;
  --text-color: #ffffffeb;
  --text-color-variant: #ffffff3d;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*TODO: Nav
i--make nav bar fixed--DONE
ii--scale button on active--DONE
iii--implement download resume--DONE
iv--add favicon--DONE
v--add email link to "work together" and "contact me"--DONE
vi--add github link to "front end engineer"--DONE
vii--make profile photo sticky
viii--reduce font for fun fact paragraph--DONE
ix--add a back to top button that doesn't scroll away
x--add aos animation--DONE
xi--add links to socials--DONE
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text-color);
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
}

section {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 10;
  position: fixed;
  backdrop-filter: blur(8px);
}

nav h1,
nav p {
  font-size: 1.2rem;
  color: #fff;
}

nav h1 a {
  color: var(--text-color);
}

a {
  text-decoration: none;
}

.nav-link {
  color: var(--text-color-variant);
  text-transform: uppercase;
}

.nav-link:hover {
  color: var(--text-color);
}

.nav-list {
  display: none;
}

.btn {
  cursor: pointer;
  padding: 0.8rem 0.5rem;
  border-radius: 30px;
  background: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: var(--bg);
  background: var(--text-color);
}

.btn:active {
  transform: scale(0.98);
}

@media screen and (min-width: 900px) {
  nav {
    padding: 1rem 2rem;
  }

  nav h1,
  nav p {
    font-size: 1.8rem;
  }

  .nav-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
  }
}

/* hero */
.hero {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.hero p {
  font-size: 1.2rem;
}

.hidden-text {
  color: var(--text-color-variant);
}

.hero h2 {
  font-size: 6rem;
  font-family: "Times New Roman", Times, serif;
}

.email-link {
  color: var(--text-color);
  transition: text-decoration 0.3s ease-in-out;
}

.email-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .hero h2 {
    font-size: 12rem;
  }

  .hero h1,
  .hero p {
    font-size: 1.6rem;
  }
}

/* about */
.about {
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  text-align: justify;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.about-p {
  margin-top: 1.5rem;
  line-height: 2;
}

.section-heading {
  font-size: 1.2rem;
  color: var(--text-color-variant);
  margin-top: 1rem;
  transition: color 0.3s ease-in-out;
  font-family: "Times New Roman", Times, serif;
}

.section-heading:hover {
  color: var(--text-color);
}

.fun-p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.goals div {
  text-align: left;
  padding: 1rem 2rem;
}

.goals div ul {
  list-style: circle;
  line-height: 1.5;
}

@media screen and (min-width: 900px) {
  .about {
    padding: 1rem 2rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
    font-size: 2.5rem;
  }

  .about-p {
    margin-top: 2rem;
  }

  .goals ul {
    display: inline-block;
  }

  .goals div {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skill-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .skill-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects {
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.project-p {
  font-size: 4rem;
  margin: 0 10px;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (min-width: 900px) {
  .project-p {
    font-size: 12rem;
  }
}

footer {
  border-top: 1px solid var(--text-color);
  padding: 1rem;
  text-transform: uppercase;
  text-align: right;
}

footer p {
  margin-top: 1rem;
  color: var(--text-color-variant);
}

footer p a {
  color: var(--text-color);
  transition: text-decoration 0.3s ease-in-out;
}

footer p a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 1rem 2rem;
  }
}

/* contact */
.contact {
  padding: 1rem;
}

.contact p {
  font-size: 2rem;
}
.cta-btn {
  display: inline-block;
  margin: 2rem;
  padding: 2rem;
  width: 130px;
}

@media screen and (min-width: 768px) {
  .contact p {
    font-size: 3rem;
  }
}
